* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}
.header {
    background: #222222;
}
.left__menu {
    align-self: center;
}

.right__menu {
    align-self: center;
}

.left__img {
    padding-left: 41px;
}

.right__img:not(:first-child) {
    margin-left: 33px;
}
.main {
    background: #F1E4E6;
    height: 764px;
}
.introduce {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    background: url('img/Layer_man.png');
    background-repeat: no-repeat;
    background-position: -212px bottom;
}


.intro__text {
    border-left: 12px solid #F16D7F;
}

.text {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    padding: 0 0 0 16px;

}
.text1 {
    font-size: 32px;
}
.text2 {
    font-size: 32px;
color: #F16D7F;
}


.container {
    max-width: 1160px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.card__box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 260px;
    margin-top: 65px;
}

.card__text {
    padding-top: 105px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;

}

.product {
    width: 360px;
    height: 260px;
}
.women {
    background-image: url(img/women.png);
}
.product {
    box-shadow: 0 0 0 140px rgb(33 22 22 / 70%) inset;
}

.men {
    background-image: url(img/men.png);
}
.kids {
    background-image: url(img/kids.png);
}
.accesories {
    background-image: url(img/accesories.png);
    height: 180px;
    width: 100%;
    margin-top: 30px;
}

.accs {
    padding-top: 65px;
}
.text3 {
    font-size: 16px;
    line-height: 28px;
    color: #F16D7F;
    font-size: 24px;
}

.heading {
text-align: center;
margin-top: 96px;
}

.heading_title {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;"
}


.heading_text {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
margin-top: 6px;
}

.product1 {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top: 30px;
}


.product__text__field {
padding-top: 25px;
padding-left: 18px;
padding-bottom: 20px;
background: #F8F8F8;
}

.product_head {
font-family: Lato;
font-style: normal;
font-size: 13px;
line-height: 16px;
color: #000000;
}

.product_description {
padding-top: 13px;
font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;

padding-right: 28.8px;
}

.product_price {
    padding-top: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product_wrapper {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.topcard {
    margin-top: 48px;
}


.browse_button {
    text-align: center;
    margin-top: 48px;
}

.browse {
    border: 1px solid #FF6A6A;
    padding-top: 14.5px;
    padding-bottom: 13.5px;
    padding-left: 38.5px;
    padding-right: 38.5px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    margin-bottom: 95.5px;
}
.footer {
    background: #222224;
}
.footer_adv {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.adv_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    
}

.adv_head {

font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
padding-top: 28px;
}

.adv_text {

font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
padding-bottom: 104px;
padding-top: 16px;
}

.adv_img{
    padding-top: 103px;
    width: 45px;
}

.sales {
    padding-top: 19px;
}

.circle {
    padding-top: 104px;
}

.crown {
    padding-top: 25px;
}



.central_footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
}




.leftbot_text {
font-size: 16px;
line-height: 19px;
color: #FBFBFB;


}

.rightbot_text {
    display: flex;
    align-items: center;
}


.icon {
    padding-top: 24px;
    padding-bottom: 23px;
}

.icon:not(:first-child){
    margin-left: 7px;
}

.sub_layer {
    background: url('img/sub.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.sub_wrapper {
    display: flex;
    justify-content: space-between;
}

.sub_left_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 87px;
}

.sub_left_text {
padding-top: 30px;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
width: 360px;
}

.sub_right_menu {
padding-top: 156px;
padding-bottom: 150px;
}

.sub_right_text {
font-weight: 400;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #222224;
}

.sub_t {
font-weight: 700;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #222224;
}

.buttons {
    text-align: center;
    padding-top: 27px;
}

.write {
    border-radius: 20px 0 0 20px;
padding-top: 7px;
padding-right: 7px;
padding-bottom: 6px;
padding-left: 8px;
}
.button {
border-radius: 0 20px 20px 0;
background: #F16D7F;
padding-top: 7px;
padding-right: 7px;
padding-bottom: 6px;
padding-left: 8px;
font-size: 14px;
line-height: 17px;
color: #FFFFFF
}


.offers {
    display: flex;
    justify-content: space-between;
}

.main__catalog {
    background: #F8F3F4;
}

.offers__text {
    padding-top: 59px;
    padding-bottom: 60px;
    font-size: 24px;
line-height: 29px;


color: #F16D7F;

}
.filter {
    padding-top: 65px;
    padding-bottom: 66px;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    font-weight: 300;
}

.red {
    color: #F16D7F;
}

.test:after {
    content: url("img/filter.svg");
}
details > summary {
    list-style: none;
  }
.filter_menu {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    }
    
    .filter__match {
      display: flex;
      flex-direction: row;
    }
    
  

     .filter_left_text {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
     }

     .filter_center_text {
        font-size: 14px;
        line-height: 17px;
        margin-right: 48px;
        color: #6F6E6E;
     }